{% extends "base.html" %} {% block title %}Account{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %} {% block header %} {{ super() }} {% endblock %} {% block navigation %} {{ super() }}
<!--Enter navigation markup-->
{% endblock %} {% block main_content %}

<div class="account-container">
    <div class="account-row">
        <div class="user-aside">
            <div class="new-user-header">
                <span class="new-user-title">Add New User</span>
                <p class="new-user-text">For a newly created user, a password is randomly generated and sent to them via a text message together with other account details</p>
            </div>
            <div class="account-main-container">

                <div class="account-lists-area">
                    <div class="lists-area-row">
                        <div class="add-user-area">
                            <div class="add-user-form">
                                <form action="/add-user" method="POST" class="user-form">
                                    {{ form.csrf_token }}
                                    <div class="username-container input-container">
                                        <div class="label-wrapper"><label for="username" class="input-label">Username</label></div>
                                        <input name="username" id="username" class="input-item" type="text"> {% if username_error %}
                                        <div class="label-wrapper"><span class="validation-error_message">{{ username_error }}</span></div>
                                        {% endif%}
                                    </div>
                                    <div class="username-container input-container">
                                        <div class="label-wrapper"><label for="username" class="input-label">Phone</label></div>
                                        <input name="phone" id="phone" class="input-item" type="text"> {% if phone_error %}
                                        <div class="label-wrapper"><span class="validation-error_message">{{ phone_error }}</span></div>
                                        {% endif%}
                                    </div>
                                    <div class="input-container">
                                        <input type="checkbox" id="admin-check" name="admin-check" value="admin">
                                        <label for="admin-check">Admin?</label>
                                    </div>
                                    <div class="buttons-container user-form-buttons">
                                        <input class="login-button submit-button" type="submit" value="Submit">
                                        <input class="clear-button submit-button" type="button" value="Cancel">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block footer %} {{ super() }} {% endblock %} {% endblock %}