{% extends "base.html" %} {% block title %}Account{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %} {% block header %} {{ super() }} {% endblock %} {% block navigation %} {{ super() }}
<!--Enter navigation markup-->
{% endblock %} {% block main_content %}

<div class="account-container">
    <div class="account-row">
        <div class="user-aside">
            <div class="user-aside-row">
                <div class="profile-container">
                    <div class="user-avatar-container">
                        <i class="fa-solid fa-circle-user user-avatar"></i>
                    </div>
                    <div class="name-and-edit-container">
                        <div class="names-row profile-section">
                            <span class="user-name">Bruce@1998</span>
                            <a class="edit-user-button" href={{ "./profile"}}>
                                <div><i class="user-edit-button"><i class="fa-solid fa-pen"></i></i>
                                </div>
                            </a>
                        </div>
                        <span class="user-role profile-section">SYSTEM USER</span>
                    </div>
                </div>
                <div class="entities-container">
                    <a href={{ "./account"}}>
                        <div class="entity-item">
                            <i class="fa-solid fa-car entity-icon"></i>
                            <span class="entity-name">Vehicles</span>
                        </div>
                    </a>
                    <a href={{ "./users"}}>
                        <div class="entity-item">
                            <i class="fa-solid fa-circle-user entity-icon"></i>
                            <span class="entity-name">Users</span>
                        </div>
                    </a>
                    <a href={{ "./vehicles"}}>
                        <div class="entity-item">
                            <i class="fa-solid fa-file-signature entity-icon"></i>
                            <span class="entity-name">Logs</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="account-main-container">

                <div class="account-lists-area">
                    <div class="lists-area-row">
                        <div class="search-container">
                            <input name="search-input" class="input-item search-input-control" placeholder="Search users" type="text">
                            <a href={{ "./add-user"}} class="add-user-link">
                                <i class="fa-solid fa-user-plus add-user-button"></i>
                            </a>
                        </div>
                        <div class="vehicles-list">
                            {% for user in users %}
                            <div class="list-item account-list-item">
                                <div class="list-item-grid">
                                    <div class="item-grid-entry">
                                        <span class="item-title">User Id</span>
                                        <div class="vehicle-server">{{ user.id }}</div>
                                    </div>
                                    <div class="item-grid-entry">
                                        <span class="item-title">Username</span>
                                        <span class="item-value">{{ user.username }}</span>
                                    </div>
                                    <div class="item-grid-entry">
                                        <span class="item-title">Phone</span>
                                        <span class="item-value">{{ user.phone }}</span>
                                    </div>
                                    <div class="item-grid-entry">
                                        <span class="item-title">Role</span>
                                        <div class="vehicle-server">{{ user.role }}</div>
                                    </div>
                                    <div class="item-grid-entry">

                                    </div>
                                    <div class="item-grid-entry">
                                        <span class="item-title">Actions</span>
                                        <a href={{url_for( 'delete_user', user_id=user.id)}}><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %} {% block footer %} {{ super() }} {% endblock %} {% endblock %}