{% extends "base.html" %} {% block title %}Vehicles{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %} {% block header %} {{ super() }} {% endblock %} {% block navigation %} {{ super() }}
<!--Enter navigation markup-->
{% endblock %} {% block main_content %}

<div class="vehicles-container">
    <div class="vehicles-row">
        <div class="vehicles-header">
            <div class="search-container">
                <input class="input-control" type="text" placeholder="Search by license plate" />
            </div>

        </div>
        <div class="vehicles-list-container">
            <div class="vehicles-list-row">
                {% for i in range(count)%}
                <div class="list-item">
                    <div class="list-item-grid">
                        <div class="item-grid-entry">
                            <span class="item-title">Vehicle License</span>
                            <span class="item-value">{{ plates[i].vehicle_reg }}</span>
                        </div>
                        <div class="item-grid-entry">
                            <span class="item-title">Drive in date</span>
                            <span class="item-value">{{ drive_ins[i] }}</span>
                        </div>
                        <div class="item-grid-entry">
                            <span class="item-title">Drive out date</span>
                            <span class="item-value">{{ drive_outs[i] }}</span>
                        </div>
                        <div class="item-grid-entry">
                            <span class="item-title">Image</span>
                            <div class="vehicle-image"></div>
                        </div>
                        <div class="item-grid-entry">
                            <span class="item-title">Authenticated By</span>
                            <span class="item-value">{{usernames[i].username}}</span>
                        </div>
                        <div class="item-grid-entry">
                            <span class="item-title">Actions</span>
                            <a href={{url_for( 'delete_log', log_id=logs[i].log_id)}}><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block footer %} {{ super() }} {% endblock %} {% endblock %}